{% extends 'newsite/base.html' %}
{% load crispy_forms_tags %}



{% block title %}Форма добавления статьи{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Форма добавления статьи</h1>

        <form action="" method="post">
            {% csrf_token %}
{#            {{ form|crispy }}#}

            {{ form.as_p }}
{#            {{ form.title }}#}
{#            {{ form.anons }}#}
{#            {{ form.full_text }}#}
{#            {{ form.date }}#}
{#            <input type="text" placeholder="Название статьи">#}
{#            <input type="text" placeholder="Анонс статьи">#}
            <button>Жмякни</button>
        </form>
    </div>
{% endblock content %}